.container
    .row
        h1.offest-sm-2.about-header.col-sm-2 |
            span.about-heading ABOUT
            span |

.container
    div(data-aos="fade-up").row

        .col-12.col-sm-12.col-md-7.spacing
            .question-1 What Is Turing Cup?
            .answer-1.
                Turing Cup is the annual flagship competitive programming contest organised by 
                SIESGSTarena - the CodeChef SIESGST Campus Chapter.
                We encourage the best programmers to apply their wits at challenging problem statements to arrive at the most intuitive and efficient solution possible.
                The Turing Cup is named in honour of Alan Turing. 

        .col-12.col-md-5.spacing
            .about-vector-1
                img(src="./image/about-vector-1.svg").img-fluid

    div(data-aos="fade-up").row

        .col-12.col-md-5.spacing
            .about-vector-2
                include ../svgs/about-vector-2.svg

        .col-12.col-sm-12.col-md-7.spacing
            .question-2 How It Works?
            .answer-2.
                Register and compete in Turing Cup's Online Qualifier Round. 
                It lasts 96 hours, but a strong contestant won't need that long 
                to earn the round’s qualifying point minimum.<br />
                The top 20 contestants from Turing Cup Qualifier Round will make it to the Finals. 
                There, they’ll compete for the championship title and prizes.
