.row.d-flex.justify-content-center.landing.mt-lg-3
  .col-lg-5.col-md-10.landing-illus
    img.img-fluid(src ="./image/test.svg")
  .col-lg-5.col-md-10.landing-content
    .event-title Turing Cup 2021
    .event-description
      | The annual flagship competitive programming contest organised by
      | SIESGSTarena - the CodeChef SIESGST Campus Chapter.
    a(role='button' class='btn event-reg' href="#registration") Register -&gt;
.row
  .col-4.mx-auto.text-center
    a#chevron.bounce.fa.fa-chevron-down.fa-2x(href='#about')
    

