-
    const posterStyles = {
        'background-color': '#0F1311',
        'height': '100vh',
        'width': '100vw'
    }

    const headingStyles = {
        'color': '#76EC7E',
        'font-size': '50px',
        'text-align': 'center'
    }

div( style = posterStyles )
    div( style = headingStyles ) Poster Section!!!