include ./header.pug
.row.d-flex.justify-content-center.landing
  .col-lg-5.col-md-10
    .row.landing-illus
      .col-md-11.fade-in-top
        img.img-fluid(src='./image/test.svg')
      .col-md-10.timer.text-center.mt-5.d-none.d-sm-block.fade-in-top
        .row.scale-in-center
          .col.days
            h2#days.value(style='color: #2e8953') 00
            h4 DAYS
          .col.hours
            h2#hours.value(style='color: #2e8953') 00
            h4 HRS
          .col.minutes
            h2#minutes.value(style='color: #2e8953') 00
            h4 MINS
          .col.seconds
            h2#seconds.value(style='color: #2e8953') 00
            h4 SECS
  .col-lg-5.col-md-10.landing-content.fade-in-top
    .event-title Turing Cup 2021
    .event-description
      | The 4th iteration of annual flagship competitive programming contest organised by
      | CodeChef SIESGST Chapter.
    .reg-button
      a(role='button' class='btn event-reg' href="#registration") Register -&gt;
.row
  .col-4.mx-auto.text-center
    a#chevron.bounce.fa.fa-chevron-down.fa-2x(href='#about')
    
script(src="./js/countdown.js")