div(data-aos="fade-up").reg
	span.reg-heading Register<br />
	span.ins Entry fee for participating in Turing Cup 2021 is 
		span(style="color: #76ec7e") &#x20B9;50<br />
	span.ins Pay registration fees on this number
		span(style="color: #76ec7e") &nbsp;+91-9920093425&nbsp;
		| as per your payment method choice.<br />
	span.ins Registrations are 
		span(style="color: #76ec7e") OPEN! 
		| Take screenshot of successful payment to upload in form.<br />
	span.ins Receive contest link via mail for Qualifier on 15th April and make your way to the finals.<br />
	a(onclick='hideReg()').reg-btn 
		div(onclick='hideReg()') Register Now!<br />
	i.fa.fa-2x.fa-chevron-down.arrow(aria-hidden='true')

form.form-cont.container(action="https://docs.google.com/forms/d/e/1FAIpQLSeDRDi7jJBtsJ8oFGMBV8i9BmJdA9-iKCq6YnJ16Q6cBatfVQ/formResponse" method="POST" enctype="multipart/form-data" style='display: none')

	.item
		.question
			span.ques &gt;
			span.ques Hello! What&apos;s your Name?
		.reply
			span.ans $
			input.ans-input(type='search' name='entry.1490682310' placeholder='First Last' autocomplete="off")
		.btns 
			.prev-btn(onclick='showReg()')
				i.fa.fa-angle-left(aria-hidden="true" style="color: #76ec7e")
				| &nbsp;
				input.prev(type='button' name='prev-btn' value='Prev' onclick='showReg()')
			.next-btn
				input.nxt(type='button' name='next-btn' value='Next' onclick='nql()')
		i.fa.fa-2x.fa-chevron-down.arrow(aria-hidden='true')

	.item(style='display: none')
		.question
			span.ques &gt;
			span.ques PRN/Roll-No :
		.reply
			span.ans $
			input.ans-input(type='search' name='entry.674023101' placeholder='117A1028' autocomplete="off")
		.btns 
			.prev-btn(onclick='pql()')
				i.fa.fa-angle-left(aria-hidden="true" style="color: #76ec7e")
				| &nbsp;
				input.prev(type='button' name='prev-btn' value='Prev')
			.next-btn
				input.nxt(type='button' name='next-btn' value='Next' onclick='nql()')
		i.fa.fa-2x.fa-chevron-down.arrow(aria-hidden='true')

	.item(style='display: none')
		.question
			span.ques &gt;
			span.ques Email Address:
		.reply
			span.ans $
			input.ans-input(type='email' name='entry.1390409659' placeholder='jon@gmail.com' autocomplete="off")
		.btns 
			.prev-btn(onclick='pql()')
				i.fa.fa-angle-left(aria-hidden="true" style="color: #76ec7e")
				| &nbsp;
				input.prev(type='button' name='prev-btn' value='Prev')
			.next-btn
				input.nxt(type='button' name='next-btn' value='Next' onclick='nql()')
		i.fa.fa-2x.fa-chevron-down.arrow(aria-hidden='true')

	.item(style='display: none')
		.question
			span.ques &gt;
			span.ques College Name:
		.reply
			span.ans $
			input.ans-input(type='search' name='entry.1558105705' placeholder='SIESGST' autocomplete="off")
		.btns 
			.prev-btn(onclick='pql()')
				i.fa.fa-angle-left(aria-hidden="true" style="color: #76ec7e")
				| &nbsp;
				input.prev(type='button' name='prev-btn' value='Prev')
			.next-btn
				input.nxt(type='button' name='next-btn' value='Next' onclick='nql()')
		i.fa.fa-2x.fa-chevron-down.arrow(aria-hidden='true')

	.item(style='display: none')
		.question
			span.ques &gt;
			span.ques Branch:
		.reply
			//- span.ans $
			label.radio-label
				input#ce.input-rad(name='entry.196002535' type='radio' value='CE' checked='checked')
				span.inner-label CE
			label.radio-label
				input#it.input-rad(name='entry.196002535' value='IT' type='radio')
				span.inner-label IT
			label.radio-label
				input#extc.input-rad(name='entry.196002535' value='EXTC' type='radio')
				span.inner-label EXTC
			label.radio-label
				input#oth.input-rad(name='entry.196002535' value='Other' type='radio')
				span.inner-label Other

		.btns 
			.prev-btn(onclick='pql()')
				i.fa.fa-angle-left(aria-hidden="true" style="color: #76ec7e")
				| &nbsp;
				input.prev(type='button' name='prev-btn' value='Prev')
			.next-btn
				input.nxt(type='button' name='next-btn' value='Next' onclick='nql()')
		i.fa.fa-2x.fa-chevron-down.arrow(aria-hidden='true')
		input.ans-input(style="display: none;")

	.item(style='display: none')
		.question
			span.ques &gt;
			span.ques Year:
		.reply
			//- span.ans $
			//- input.ans-input(type='search' name='entry.588393791' placeholder='FE')
			label.radio-label
				input#fe.input-rad(name='entry.27304183' type='radio' value='FE' checked='checked')
				span.inner-label FE
			label.radio-label
				input#se.input-rad(name='entry.27304183' value='SE' type='radio')
				span.inner-label SE
			label.radio-label
				input#te.input-rad(name='entry.27304183' value='TE' type='radio')
				span.inner-label TE
			label.radio-label
				input#be.input-rad(name='entry.27304183' value='BE' type='radio')
				span.inner-label BE
		.btns 
			.prev-btn(onclick='pql()')
				i.fa.fa-angle-left(aria-hidden="true" style="color: #76ec7e")
				| &nbsp;
				input.prev(type='button' name='prev-btn' value='Prev')
			.next-btn
				input.nxt(type='button' name='next-btn' value='Next' onclick='nql()')
		i.fa.fa-2x.fa-chevron-down.arrow(aria-hidden='true')
		input.ans-input(style="display: none;")

	.item(style='display: none')
		.question
			span.ques &gt;
			span.ques Enter Transaction ID of Payment:
		.reply
			span.ans $
			input.ans-input(type='text' name='entry.461012999')

		.btns 
			.prev-btn(onclick='pql()')
				i.fa.fa-angle-left(aria-hidden="true" style="color: #76ec7e")
				| &nbsp;
				input.prev(type='button' name='prev-btn' value='Prev')
			.next-btn
				input.nxt(type= 'button' name='next-btn' value='Submit' onclick='submitForm()')

		i.fa.fa-2x.fa-chevron-down.arrow(aria-hidden='true')
script(src="./js/regJs.js")
