.fuck
    span.reg-heading &nbsp;Register<br />
    span.ins Entry fee for participating in Turing Cup 2019 is ₹50<br />
    span.ins Pay via Cash or UPI as per your option selected in registration form<br />
    span.ins Registrations are closed<br />
    span.ins Receive contest link for Qualifier on 15th February and make your way to the finals<br />
    a.reg-btn Register Now!