.container.schedule-desktop
  h1(data-aos="fade-up").offest-sm-2.about-header.col-sm-2 |
    span.about-heading Schedule
    span |
  div(data-aos="fade-up").container.timeline.desk
    .row
      .col-lg.mx-2.my-2.py-3.px-3.schedule-card
        .timeline-image.mt-2
          img.img-fluid(src='./image/registration.svg')
        .timeline-heading.mt-3
          h4.timeline-date 30th March 2021
          p.timeline-title Registration Begins!
        .timeline-body
          p
            | Register individually following the procedure given in
            | registration section.
      .col-lg.mx-2.my-2.py-3.px-3.schedule-card
        .timeline-image.mt-2
          img.img-fluid(src='./image/flag.svg' style='height: 64px; width: 64px')
        .timeline-heading.mt-3
          h4.timeline-date 14th April 2021
          p.timeline-title Registration Ends
        .timeline-body
          p Registration ends on 14th April 11:59 PM.
      .w-100
      .col-lg.mx-2.my-2.py-3.px-3.schedule-card
        .timeline-panel
          .timeline-image.mt-2
            img(src='./image/confrontation.svg')
          .timeline-heading.mt-3
            h4.timeline-date 15-18th April 2021
            p.timeline-title Qualifier Round
          .timeline-body
            p
              | Top 10 from SIES Graduate School of Technology, Nerul and
              | top 10 from various colleges will qualify for the Online
              | Finals.
      .col-lg.mx-2.my-2.py-3.px-3.schedule-card
        .timeline-image
          img(src='./image/trophy.svg' style='height: 64px; width: 64px')
        .timeline-heading.mt-3
          h4.timeline-date 24th April 2021
          p.timeline-title Online Finals
        .timeline-body
          p
            | Online Finalists will be competing for the Turing Cup 2021
            | Champion Title!
div(data-aos="fade-in").mob
  section.cd-horizontal-timeline
    .timeline
      .events-wrapper
        .events
          ol
            li
              a#date.selected(href='#0' data-date='30/03/2021') 30 Mar
            li
              a#date(href='#0' data-date='14/04/2021') 14 Apr
            li
              a#date(href='#0' data-date='15/04/2021') 15 Apr
            li
              a#date(href='#0' data-date='24/04/2021') 24 Apr
          span.filling-line(aria-hidden='true')
      ul.cd-timeline-navigation
        li
          a.prev.inactive(href='#0') Prev
        li
          a.next(href='#0') Next
    .events-content
      ol
        li.selected(data-date='30/03/2021')
          .timeline-image-mob
            img(src='./image/registration.svg' style='height: 64px; width: 64px')
          h2.timeline-title-mob Registration Begins
          em.timeline-date-mob March 30th, 2021
          p.timeline-body-mob
            | Register individually following the procedure given in
            | registration section.
        li(data-date='14/04/2021')
          .timeline-image-mob
            img(src='./image/flag.svg' style='height: 64px; width: 64px')
          h2.timeline-title-mob Registration Ends
          em.timeline-date-mob 14th April 2021
          p.timeline-body-mob
            | Registration ends on 14th April 11:59 PM.
        li(data-date='15/04/2021')
          .timeline-image-mob
            img(src='./image/confrontation.svg' style='height: 64px; width: 64px')
          h2.timeline-title-mob Qualifier Round
          em.timeline-date-mob 15-18 April 2021
          p.timeline-body-mob
            | Top 10 from SIES Graduate School of Technology, Nerul and top
            | 10 from various colleges will qualify for the Online Finals.
        li(data-date='24/04/2021')
          .timeline-image-mob
            img(src='./image/trophy.svg' style='height: 64px; width: 64px')
          h2.timeline-title-mob Online Finals
          em.timeline-date-mob 24th April 2021
          p.timeline-body-mob
            | Online Finalists will be competing for the Turing Cup 2021
            | Champion Title!
  .swipe-model.row
    p.schedule-swipe
    | Swipe 
    br
    | To know More  
    img.schedule-swipe-img(src='./image/chevron-right.svg')
script(src='./js/horitime.js')
script(src='./js/swipe.js')