-
    const scheduleStyle = {
        'background-color': '#0F1311',
        'height': '100vh',
        'width': '100vw',
        'color': '#76EC7E',
        'text-align': 'center',
        'font-size': '50px'
    }

div(style = scheduleStyle)
    h1 Schedule Section!!!