html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap' rel='stylesheet')
        title Registration Successful
        style.
            * {
                overflow-x: hidden;
                font-family: "Share Tech Mono", monospace;
            }
            .msg {
                display: flex;
                width: fit-content;
                height: min-content;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                text-align: center;
                color: #e3f4ed;
                margin: auto
            }

            .header {
                display: flex;
                justify-content: center;
                text-align: center;
                font-size: 3em;
                color: #76ec7e;
            }

            .home-btn {
                text-decoration: none;
                border: none;
                outline: none;
                background: #0f1311;
                color: #76ec7e;
                font-size: larger;
                cursor: pointer;
                font-weight: bold;
            }
    body(style="background: #0f1311")
        .header
            .head Turing Cup 2021
        .container.msg 
            .row 
                div
                    h1 Registration Successful!! 
                    h3 Response Recorded Successfully, we'll get in touch with you via email
                    h3 See you on scoreboard!
                h3.home Get Back to 
                    a.home-btn(href="/") Home