html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #0f1311;
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c9fdb4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
}

a:hover {
  color: #2e8953;
}
