#question-1 {
  width: 100vw;
  height: 100vh;
  font-family: "Share Tech Mono", monospace;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.form-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
  margin: auto;
  height: inherit;
  text-align: end;
}

.item {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question {
  color: #76ec7e;
  text-align: left !important;
  padding: 0px 10px;
  letter-spacing: 2px;
  font-size: 30px;
}

.ques {
  padding: 0px 10px 0px 0px;
}

.reply {
  display: flex;
  padding-top: 10px;
  outline: none;
  text-align: left !important;
  border-bottom: 4px solid #76ec7e;
}

.reply > span {
  color: #76ec7e;
}

.ans-input {
  border: none;
  font-size: 30px;
  background-color: #0f1311;
  color: aliceblue;
}

.ans {
  letter-spacing: 2px;
  padding: 0px 10px;
  background: #0f1311;
  border: none;
  font-size: 30px;
  color: rgb(200, 200, 200);
}

.nxt {
  letter-spacing: 2px;
  padding: 10px 15px 0px 0px;
  background: transparent;
  z-index: 3;
  border: none;
  font-size: 30px;
  color: #76ec7e;
}

.nxt:hover {
  cursor: pointer;
}

.next-btn {
  z-index: 3;
}

.next-btn:hover {
  cursor: pointer;
}

::placeholder {
  font-size: 100%;
}

@media (max-width: 700px) {
  .form-cont {
    width: 95%;
  }

  .ans,
  .question,
  .nxt,
  ::placeholder {
    font-size: 30px;
  }
}

@media (max-width: 1100px) and (min-width: 700px) {
  .form-cont {
    width: 70%;
  }

  .ans,
  .question,
  .nxt,
  ::placeholder {
    font-size: 30px;
  }
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  letter-spacing: 2px;
  font-size: 30px;
  border-right: 4px solid #76ec7e;
}

.prev {
  background: #0f1311;
  padding: 10px 15px 0px 0px;
  outline: none;
  border: none;
  color: #76ec7e;
}