#registration {
  width: 100%;
  height: 100vh;
  font-family: "Share Tech Mono", monospace;
}

.reg {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  margin: auto;
  width: 65%;
  height: inherit;
  color: #e7f4ed;
}

.reg-heading {
  padding: 7px 20px 0px 0px;
  width: min-content;
  display: flex;
  align-self: flex-end;
  color: #76ec7e;
  font-size: 40px;
  border-bottom: 4px solid #76ec7e;
}

.ins {
  padding: 15px 20px 15px 0px;
  border-right: 4px solid #76ec7e;
  border-bottom: 4px solid #76ec7e;
  font-size: 20px;
}

.reg-btn {
  padding: 15px 20px 0px 0px;
  font-size: 35px;
  color: #76ec7e !important;
  border-right: 4px solid #76ec7e;
}

.arrow {
  position: relative;
  top: -25px;
  left: 14px;
  color: #76ec7e;
}

@media (max-width: 700px) {
  .reg {
    width: 90%;
  }

  .ins {
    font-size: 16px;
  }

  .reg-btn {
    font-size: 30px;
  }
}

@media (max-width: 1100px) and (min-width: 700px) {
  .reg {
    width: 80%;
  }

  .ins {
    font-size: 20px;
  }

  .reg-btn {
    font-size: 30px;
  }
}

.fade-out-top {
  -webkit-animation: fade-out-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: fade-out-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes fade-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
}
@keyframes fade-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
}

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-top {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-out-bottom {
  -webkit-animation: fade-out-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: fade-out-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes fade-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
}
@keyframes fade-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
}

.radio-label {
  position: relative;
  display: inline-block;
  color: #e7f4ed;
  margin: 10px;
}
.radio-label input {
  opacity: 0;
  position: absolute;
}
.radio-label .inner-label {
  position: relative;
  display: inline-block;
  font-size: 25px;
  padding-left: 20px;
}
.radio-label .inner-label:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 1px dashed #e7f4ed;
  width: 10px;
  transition: border-bottom 0.5s ease;
}
.radio-label input:focus ~ .inner-label:before {
  border-bottom: 1px solid #e7f4ed;
}
.radio-label input:checked ~ .inner-label:after {
  content: "\2713";
  color: #76ec7e;
  position: absolute;
  font-size: 30px;
  left: 0px;
  top: -2px;
}
