#schedule {
  width: 100vw;
  min-height: 100vh;
}

.schedule {
  font-family: Share Tech Mono;
}

.schedule-header {
  color: #eeeeee;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%; /* change for location of the timeline line*/
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  background-color: #1b1d1c;
  border-bottom: 1px solid #2e8953;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(83, 180, 18, 0.175);
  box-shadow: 0 1px 6px rgba(86, 143, 53, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #2e8953;
  border-right: 0 solid #2e8953;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #2e8953;
  border-right: 0 solid #2e8953;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 50%;
  background-color: #2e8953;
  position: absolute;
  top: 30px;
  left: 35.49em;
  margin-left: -25px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-title {
  font-size: 24px;
  color: #3eb46d;
}

.timeline-date {
  font-size: 18px;
  color: #f2f2f2;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
  color: #f2f2f2;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 1200px) {
  ul.timeline > li > .timeline-badge {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 50%;
    background-color: #2e8953;
    position: absolute;
    top: 30px;
    left: 29.79em;
    margin-left: -25px;
  }
}

@media (max-width: 992px) {
  ul.timeline > li > .timeline-badge {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 50%;
    background-color: #2e8953;
    position: absolute;
    top: 30px;
    left: 22.29em;
    margin-left: -25px;
  }
}

@media (max-width: 768px) {
  ul.timeline:before {
    left: 40px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline > li > .timeline-badge {
    left: 1.75em;
    margin-left: 0;
    top: 1.6em;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}

@media (max-width: 411px) {
  ul.timeline:before {
    left: 40px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline > li > .timeline-badge {
    left: 1.75em;
    margin-left: 0;
    top: 1.6em;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}
