.form-cont.container 
    .question 
        span.ques >
        span.ques Hello! What's your Name?
    .reply 
        span.ans $
        input.ans(type="text", name="name", placeholder="FirstName LastName")
    .next-btn 
        input.nxt(type="button", name="next-btn", value="Next")
    i.fa.fa-2x.fa-chevron-down.arrow(aria-hidden="true")